{% extends 'base.html' %}
{% block content %}
<style>
    body {
        background-color: #fefaf4;
        color: #4e342e;
        font-family: 'Georgia', serif;
    }

    .jumbotron {
        background-color: #fffaf5;
        padding: 3rem 2rem;
        border-radius: 16px;
        box-shadow: 0 6px 18px rgba(139, 69, 19, 0.1);
        margin-top: 60px;
        text-align: center;
    }

    h1 {
        font-size: 2rem;
        color: #5c3d2e;
        font-weight: bold;
        border-bottom: 3px solid #8b4513;
        display: inline-block;
        padding-bottom: 10px;
    }
</style>

<div class="container">
    <div class="jumbotron">
        <h1>This HTML Page Is Using TemplateView in CBV</h1>
    </div>
</div>
{% endblock %}
